<div class="panel panel-default">
  <div class="panel-body">
  	<div class="row">
  		<div class="col-xs-7">
  			<a href = <%= sheet_path(sheet) %> ><h3><%= sheet.name %></h3></a>
  			<br><%= sheet.race %> <%= sheet.class %>, Level <%= sheet.level %><br>
				Player: <%= sheet.user.name %>
	 	  </div>
	 	</div>
  </div>
</div>