<h1>Character Sheets</h1>

<h3>Search</h3>
<%= form_tag('/sheetsearch', remote: true, id: "sheet-search-form") do |f| %>
	Class:
	<%= text_field_tag('classes') %><br>
	Race:
	<%= text_field_tag('race') %><br>
	Level:
	<%= number_field_tag('level') %><br><br>
	Level range:
	<div class="form-group row">
		<div class="col-xs-1 text-center"> Between </div><%= number_field_tag('min_level',nil,class: "col-xs-1") %><div class="col-xs-1 text-center"> and </div><%= number_field_tag('max_level',nil,class: "col-xs-1") %>
	</div><br>
	<%= submit_tag 'Search', {id: 'sheets-search-btn'} %>
<% end %>
<br>
<div id="search-results" class="container">
	<% @sheets.each do |s| %>
		<%= render "sheetcard", sheet: s %>
	<% end %>
</div>